a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

input[type=radio] {
  border: 0px;
  width: 20px;
  height: 3em;
}

label {
  margin: 45px;
  font-size: 35px;
}

span{
  line-height: 75px;
  margin: 75px;
  font-size: 50px;
}

div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-items: center;
  flex-wrap: wrap;
}

section {
  width: 270px;
  text-align: center;
  margin: 25px;
  padding: 15px;
}

h2 {
  padding-bottom: 5px;
  font-size: 50px;
}

p {
  font-size: 30px;
}

img {
  border: outset 5px;
  width: 260px;
  max-height: 300px;
}

h1{
  padding: 30px;
  font-size: 150px;
  text-align: center;
}

footer {
  clear: both;
  border-top: solid 3px gray;
  height: 150px;
  line-height: 150px;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}